.p-menuitem.logout-item :is(.p-menuitem-link, .p-menuitem-icon, .p-menuitem-text) {
    color: rgba(255, 0, 0, 0.7) !important;
}

.p-menuitem.logout-item .p-menuitem-link:hover {
    background-color: rgba(255, 0, 0, 0.7) !important;
    color: white !important;
}

.p-menuitem.logout-item .p-menuitem-link:hover :is(.p-menuitem-icon, .p-menuitem-text) {
    color: white !important;
}