.p-menuitem.logout-item .p-menuitem-link {
    color: rgba(255, 0, 0, 0.7) !important;
}

.p-menuitem.logout-item .p-menuitem-icon {
    color: rgba(255, 0, 0, 0.7) !important;
}

.p-menuitem.logout-item .p-menuitem-text {
    color: rgba(255, 0, 0, 0.7) !important;
}

.p-menuitem.logout-item .p-menuitem-link:hover {
    background-color: rgba(255, 0, 0, 0.7) !important;
    color: white !important;
}

.p-menuitem.logout-item .p-menuitem-link:hover .p-menuitem-icon {
    color: white !important;
}

.p-menuitem.logout-item .p-menuitem-link:hover .p-menuitem-text {
    color: white !important;
}